<%= simple_form_for(@device, html: { class: 'form-horizontal', id: 'mainForm' } ) do |f| %>

  <h2>Aparelho de: <b><%= @customer.name %></b></h2>
  <%= f.input :customer_id, as: :hidden, input_html: { value: @customer.id } %>
  <br>
  <div class="row">
    <div class="col-xs-6">
      <%= f.input :ear, collection: Device::EAR.map{ |val| [val, val] }, input_html: { class: 'form-control' } %>
    </div>
    <div class="col-xs-6">
      <%= f.input :_type, collection: Device::TYPES.map{ |val| [val, val] }, input_html: { class: 'form-control' } %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <%= f.input :brand, input_html: { class: 'form-control' } %>
    </div>
    <div class="col-xs-6">
      <%= f.input :model, input_html: { class: 'form-control' } %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <%= f.input :store, collection: Device::STORES.map{ |val| [val, val] }, input_html: { class: 'form-control' } %>
    </div>
    <div class="col-xs-6">
      <%= f.input :other_store, input_html: { class: 'form-control' }, label: 'Outra Loja(caso não exista na listagem)' %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <%= f.input :serial_number, input_html: { class: 'form-control' } %>
    </div>
    <div class="col-xs-6">
      <%= f.input :battery, collection: Device::BATTERIES.map{ |val| [val, val] }, input_html: { class: 'form-control' } %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <%= f.input :warantee, input_html: { class: 'form-control' } %>
    </div>
    <div class="col-xs-6">
      <%= f.input :purchased_at, as: :date, start_year: Date.today.year - 90,
        end_year: Date.today.year, discard_day: false, order: [:day, :month, :year] %>
    </div>
  </div>
<% end %>
<br>
<div class="form-actions">
  <button id="mainButton" class="btn btn-success">
    <%= @device.persisted? ? 'Atualizar Aparelho' : 'Criar Aparelho' %>
  </button>
  <%= link_to t("helpers.links.back"), customer_path(@customer.id), class: 'btn btn-default' %>
</div>
