<form action="zipmagic" method="POST">
  <%= f.input :zipcode, input_html: { class: 'form-control' } %>
  <div class="row">
    <div class='col-xs-8'>
      <%= f.input :street, input_html: { class: 'form-control' } %>
    </div>
    <div class='col-xs-4'>
      <%= f.input :number, input_html: { class: 'form-control' } %>
    </div>
  </div>
  <%= f.input :neighborhood, input_html: { class: 'form-control' } %>
  <%= f.input :complement, input_html: { class: 'form-control' } %>
  <%= f.input :state_id, collection: @states, input_html: { class: 'form-control' } %>
  <%= f.input :city_id, collection: @states, as: :grouped_select, group_method: :cities, input_html: { class: 'form-control' } %>
</form>
