<%#= f.input :store, collection: Customer::STORES.map{ |val| [val, val] }, input_html: { class: 'form-control' } %>
<%#= f.input :other_store, input_html: { class: 'form-control' }, label: 'Outra', hint: 'Ao preencher este campo, caso alguma Loja esteja selecionada, será ignorada' %>
<div class="row">
  <div class="col-xs-6">
    <%= f.input :_type, collection: Device::TYPES.map{ |val| [val, val] }, input_html: { class: 'form-control' } %>
  </div>
  <div class="col-xs-6">
    <%= f.input :ear, collection: Device::EAR.map{ |val| [val, val] }, input_html: { class: 'form-control' } %>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <%= f.input :brand, input_html: { class: 'form-control' } %>
  </div>
  <div class="col-xs-6">
    <%= f.input :model, input_html: { class: 'form-control' } %>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <%= f.input :serial_number, input_html: { class: 'form-control' } %>
  </div>
  <div class="col-xs-6">
    <%= f.input :battery, collection: Device::BATTERIES.map{ |val| [val, val] }, input_html: { class: 'form-control' } %>
  </div>
</div>
<div class="row">
  <div class="col-xs-7">
    <%= f.input :purchased_at, as: :date, start_year: Date.today.year - 90,
                            end_year: Date.today.year - 12, discard_day: false,
                            order: [:day, :month, :year] %>
  </div>
  <div class="col-xs-5">
    <%= f.input :warantee, input_html: { class: 'form-control' } %>
  </div>
</div>
