<%= simple_form_for(setup_customer(@customer)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :phone %>
    <%= f.input :le_lost_type %>
    <%= f.input :re_lost_type %>
    <%= f.input :le_device_type %>
    <%= f.input :re_device_type %>
    <%= f.input :purchased_at %>
    <%= f.fields_for :address do |builder| %>
      <%= render 'address_fields', f: builder %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
