<%= simple_form_for(setup_customer(@customer), html: { class: 'form-horizontal', id: 'mainForm' } ) do |f| %>

  <%= f.error_notification %>

  <div class='row'>
    <div class='col-md-6'>
      <div class='panel panel-primary'>
        <div class='panel-heading'><%= t("labels.person") %></div>
        <div class='panel-body'>
          <%= f.input :name, input_html: { class: 'form-control' } %>
          <%= f.input :email, input_html: { class: 'form-control' }, type: 'email' %>
          <%= f.input :dob, as: :date, start_year: Date.today.year - 90,
                                  end_year: Date.today.year - 12, discard_day: false,
                                  order: [:day, :month, :year] %>
          <br/>
          <%= f.collection_radio_buttons :gender, [[true, Customer::GENDERS.first] ,[false, Customer::GENDERS.last]],
            :first, :last, checked: true %>
          <%= f.input :cpf, input_html: { class: 'form-control' } %>
          <%= f.input :rg, input_html: { class: 'form-control' } %>
          <%= f.input :career, input_html: { class: 'form-control' } %>
        </div>
      </div>
    </div>
    <div class='col-md-6'>
      <div class='panel panel-primary'>
        <div class='panel-heading'>Contato</div>
        <div class='panel-body'>
          <%= f.input :phone, input_html: { class: 'form-control' } %>
          <%= f.input :cellphone, input_html: { class: 'form-control' } %>
        </div>
      </div>
      <div class='panel panel-primary'>
        <div class='panel-heading'><%= t("labels.company") %></div>
        <div class='panel-body'>
          <%= f.input :cnpj, input_html: { class: 'form-control' } %>
          <%= f.input :state_registration, input_html: { class: 'form-control' } %>
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-6'>
      <div class='panel panel-primary'>
        <div class='panel-heading'>Informações da Compra</div>
        <div class='panel-body'>
          <%= f.input :store, collection: Customer::STORES.map{ |val| [val, val] }, input_html: { class: 'form-control' } %>
          <%= f.input :le_device_type, collection: Customer::DEVICE_TYPES.map{ |val| [val, val] }, input_html: { class: 'form-control' } %>
          <%= f.input :re_device_type, collection: Customer::DEVICE_TYPES.map{ |val| [val, val] }, input_html: { class: 'form-control' } %>
          <%= f.input :le_lost_type,   collection: Customer::LOST_TYPES.map{ |val| [val, val] }, input_html: { class: 'form-control' } %>
          <%= f.input :re_lost_type,   collection: Customer::LOST_TYPES.map{ |val| [val, val] }, input_html: { class: 'form-control' } %>
          <%= f.input :purchased_at %>
        </div>
      </div>
    </div>

    <div class='col-md-6'>
      <div class='panel panel-primary'>
        <div class='panel-heading'>Endereço</div>
        <div class='panel-body'>
          <%= f.fields_for :address do |builder| %>
            <%= render 'address_fields', f: builder %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <button id="mainButton" class="btn btn-success">
      <%= @customer.persisted? ? 'Atualizar Cliente' : 'Criar Cliente' %>
    </button>
    <%= link_to t("helpers.links.back"), customers_path, class: 'btn btn-default' %>
  </div>
<% end %>
