<div class="col-lg-6">
  <%= search_form_for @q, html: { class: 'form-inline' } do |f| %>
    <div class='form-group has-feedback has-clear'>
      <%= f.search_field :name_cont, placeholder: I18n.t("activerecord.attributes.customer.name"), class: "form-control" %>
      <span class="form-control-clear fa fa-times form-control-feedback"></span>
    </div>

    <div class='form-group has-feedback has-clear'>
      <%= f.search_field :devices_store_or_devices_other_store_cont, placeholder: I18n.t("activerecord.attributes.device.store"), class: "form-control" %>
      <span class="form-control-clear fa fa-times form-control-feedback"></span>
    </div>

    <div class='form-group has-feedback has-clear'>
      <%= f.select :dob, 1..12, {selected: params[:q][:dob]}, class: 'form-control dropdown-toggle' %>
      <%#= f.search_field :dob, placeholder: "Mês de Aniversário", class: "form-control", value: params[:q]['dob'] %>
      <!-- <span class="form&#45;control&#45;clear fa fa&#45;times form&#45;control&#45;feedback"></span> -->
    </div>
      <%#= f.search_field :devices__type_cont, placeholder: I18n.t("activerecord.attributes.device._type"), class: "form-control" %>
      <%#= f.text_field :devices_brand, placeholder: I18n.t("activerecord.attributes.device.brand"), class: "form-control" %>
      <%#= f.collection_select :address_city_id_eq, City.all, :id, :full_name, {include_blank: 'Escolha uma Cidade'}, {class: "form-control"} %>

      <!-- <div class="input&#45;group input&#45;daterange"> -->
        <!--   <%#= f.text_field :devices_purchased_at_gteq, placeholder: "Comprado de:", class: "form&#45;control" %> -->
        <!--   <div class="input&#45;group&#45;addon">até</div> -->
        <!--   <%#= f.text_field :devices_purchased_at_lteq, placeholder: "Comprado até:", class: "form&#45;control" %> -->
        <!-- </div> -->
      <%= f.submit "Filtrar", class: 'btn btn-primary' %>
  <% end %>
</div>

<%= javascript_tag do %>
  $('.form-control-clear').click(function() {
    $(this).prev('input').val('').focus()
  });
<% end %>
