<div>
  <%= search_form_for @q, html: { class: 'form-inline' } do |f| %>
    <div class='form-group'>
      <label for='dob'>Mês de Aniversário:</label>
      <%= f.select :dob, 1..12, {selected: params.fetch(:q, {}).fetch(:dob, nil), include_blank: true}, class: 'form-control dropdown-toggle', onchange: "this.form.submit()", placeholder: 'Mês de Aniversário' %>
    </div>

    <div class='form-group has-feedback has-clear'>
      <%= f.search_field :purchased_at, placeholder: "Ano da Compra", class: "form-control datetimepicker", value: params.fetch(:q, {}).fetch(:purchased_at, nil) %>
      <span class="form-control-clear fa fa-times form-control-feedback"></span>
    </div>

    <div class='form-group has-feedback has-clear'>
      <%= f.search_field :name_cont, placeholder: I18n.t("activerecord.attributes.customer.name"), class: "form-control" %>
      <span class="form-control-clear fa fa-times form-control-feedback"></span>
    </div>

    <div class='form-group has-feedback has-clear'>
      <%= f.search_field :devices_store_or_devices_other_store_cont, placeholder: I18n.t("activerecord.attributes.device.store"), class: "form-control" %>
      <span class="form-control-clear fa fa-times form-control-feedback"></span>
    </div>

    <div class='form-group has-feedback has-clear'>
      <%= f.hidden_field :address_city_id_eq, placeholder: I18n.t("activerecord.attributes.city.name"), class: "form-control hiddenCityId" %>
      <input type="text" class="form-control search" placeholder="Cidade">
      <span class="form-control-clear fa fa-times form-control-feedback"></span>
      <ul class="suggestions" style="display:none"></ul>
    </div>

    <%= f.submit "Filtrar", class: 'btn btn-primary' %>
  <% end %>
</div>

<%= javascript_tag do %>
  $('.form-control-clear').click(function() {
    $(this).prev('input').val('').focus()
    if ($(this).prev('input').hasClass('search')) {
      $(this).prev('input').prev('input').val('')
      suggestions.style.display = 'none';
    }
  });

  $('.datetimepicker').datetimepicker({
    format: 'YYYY',
    viewMode: 'years',
    icons: {
        up: "fa fa-chevron-circle-up",
        down: "fa fa-chevron-circle-down",
        next: 'fa fa-chevron-circle-right',
        previous: 'fa fa-chevron-circle-left'
    }
  });

  // Get the path from rails
  const endpoint = '/cities.json';

  const cities = [];
  fetch(endpoint)
    .then(blob => blob.json())
    .then(data => cities.push(...data));

  function findMatches(wordToMatch, cities) {
    return cities.filter(city => {
      const regex = new RegExp(wordToMatch, 'gi');
      return city.name.match(regex)
    });
  }

  function displayMatches() {
    if (this.value.length < 1) {
      suggestions.style.display = 'none';
      return;
    }
    const matchArray = findMatches(this.value, cities);
    const html = matchArray.map(city => {
      const regex = new RegExp(this.value, 'gi');
      const cityName = city.name.replace(regex, `<span class="hl">${this.value}</span>`);
      return `
        <li>
          <span class="cityName">${cityName}</span>
          <span class="cityId" style="display:none">${city.id}</span>
        </li>
      `;
    }).join('');
    suggestions.innerHTML = html;
    suggestions.style.display = '';
    const cityItems = Array.from(suggestions.querySelectorAll('li'));
    cityItems.map(item => { item.addEventListener('click', selectCityId) });
  }

  function selectCityId() {
    const hiddenCityIdField = document.querySelector('input.hiddenCityId');
    hiddenCityIdField.value = this.querySelector('span.cityId').innerText;
    searchInput.value = this.querySelector('span.cityName').innerText;
    suggestions.style.display = 'none';
  }

  function toggleUlDisplay() {
    if(suggestions.style.display === 'none') {
      suggestions.style.display = '';
    } else {
      suggestions.style.display = 'none';
    }
  }

  const searchInput = document.querySelector('.search');
  const suggestions = document.querySelector('.suggestions');

  searchInput.addEventListener('change', displayMatches);
  searchInput.addEventListener('keyup', displayMatches);
<% end %>
