<div class='panel-heading'>
  <span data-toggle="collapse" data-target="#filters_div" class='lead'>Filtros</span>
</div>
<%= search_form_for @q, html: { class: 'form-inline' } do |f| %>
  <div class='panel-body panel-collapse collapse in' id='filters_div'>
      <%= f.search_field :name_cont, placeholder: I18n.t("activerecord.attributes.customer.name"), class: "form-control" %>

      <%= f.text_field :dob_gteq, placeholder: "Nascido de: (dd/mm/aaaa)", class: "form-control" %>

      <%= f.text_field :dob_lteq, placeholder: "Nascido até: (dd/mm/aaaa)", class: "form-control" %>

      <%= f.search_field :store_cont, placeholder: I18n.t("activerecord.attributes.customer.store"), class: "form-control" %>

      <%= f.search_field :le_device_type_cont, placeholder: I18n.t("activerecord.attributes.customer.le_device_type"), class: "form-control" %>

      <%= f.search_field :re_device_type_cont, placeholder: I18n.t("activerecord.attributes.customer.re_device_type"), class: "form-control" %>
      <br/>

      <%= f.text_field :brand, placeholder: I18n.t("activerecord.attributes.customer.brand"), class: "form-control" %>

      <br/><br/>
      <%= f.collection_select :address_city_id_eq, City.all, :id, :name, include_blank: 'Escolha uma Cidade', class: "form-control" %>

      <br/><br/>
      <span class='pull-right'><%= f.submit "Buscar", class: 'btn btn-primary' %></span>
  </div>
<% end %>
