<div class='row'>
  <span id='span-title' class='lead'><%= t("labels.list_customers") %></span>
  <%= link_to I18n.t('helpers.links.new'), new_customer_path, class: 'btn btn-default not-visited', role: "button" %>
</div>
<br/>
<table class="table table-hover table-condensed table-responsive">
  <thead>
    <tr>
      <th><%= t("activerecord.attributes.customer.name") %></th>
      <th><%= t("activerecord.attributes.customer.email") %></th>
      <th><%= t("activerecord.attributes.customer.phone") %></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td title='<%= customer.name %>'><%= link_to customer.name.truncate(15), customer_path(customer.id) %></td>
        <td title='<%= customer.email %>'><%= customer.email.truncate(12) %></td>
        <td><%= customer.complete_phone %></td>
        <td><%= link_to I18n.t('helpers.links.details'), customer_path(customer) %></td>
        <td><%= link_to I18n.t('helpers.links.edit'), edit_customer_path(customer) %></td>
        <td><%= link_to I18n.t('helpers.links.destroy'), customer_path(customer), method: :delete,
          data: { confirm: I18n.t('helpers.links.confirm') } %></td>
        <td><a href="#" data-toggle="collapse" data-target="#trCollapse<%= customer.id %>" aria-expanded="false" class="accordion-toggle">Ver Aparelhos</a></td>
      </tr>
      <tr>
        <% if customer.devices.blank? %>
          <tr class="collapse" id="trCollapse<%= customer.id %>">
            <td colspan="6">Não houve compra de aparelhos</td>
          </tr>
        <% else %>
          <% customer.devices.each do |device| %>
            <tr class="collapse" id="trCollapse<%= customer.id %>">
              <td><b>Ouvido:</b> <%= device.ear %></td>
              <td><b>Perda:</b> <%= device._type %></td>
              <td><b>Data:</b><%= to_date(device.purchased_at) %></td>
              <td colspan="4"><b>Loja:</b><%= device.main_store %></td>
            </tr>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<div class='pull-right'>
  <%= will_paginate @customers, renderer: BootstrapPagination::Rails %>
</div>
