<h1>Listing customers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Store</th>
      <th>Purchased At</th>
      <th>Le lost type</th>
      <th>Re lost type</th>
      <th>Le device type</th>
      <th>Re device type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= link_to customer.name, customer_path(customer.id) %></td>
        <td><%= customer.email %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.store %></td>
        <td><%= to_date(customer.purchased_at) %></td>
        <td><%= customer.le_lost_type %></td>
        <td><%= customer.re_lost_type %></td>
        <td><%= customer.le_device_type %></td>
        <td><%= customer.re_device_type %></td>
        <td><%= link_to 'Show', customer_path(customer) %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer_path(customer), method: :delete,
          data: { confirm: I18n.t('helpers.links.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
