<div class='row'>
  <span id='span-title' class='lead'><%= t("labels.list_customers") %></span>
  <%= link_to I18n.t('helpers.links.new'), new_customer_path, class: 'btn btn-default not-visited', role: "button" %>
</div>
<br/>
<table class="table table-hover table-condensed table-responsive text-center">
  <thead>
    <tr>
      <th><%= t("activerecord.attributes.customer.name") %></th>
      <th><%= t("activerecord.attributes.customer.email") %></th>
      <th><%= t("activerecord.attributes.customer.phone") %></th>
      <th><%= t("activerecord.attributes.customer.store") %></th>
      <th><%= t("activerecord.attributes.customer.purchased_at") %></th>
      <th><%= t("activerecord.attributes.customer.le_lost_type") %></th>
      <th><%= t("activerecord.attributes.customer.re_lost_type") %></th>
      <th><%= t("activerecord.attributes.customer.le_device_type") %></th>
      <th><%= t("activerecord.attributes.customer.re_device_type") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= link_to customer.name, customer_path(customer.id) %></td>
        <td><%= customer.email %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.store %></td>
        <td><%= to_date(customer.purchased_at) %></td>
        <td><%= customer.le_lost_type %></td>
        <td><%= customer.re_lost_type %></td>
        <td><%= customer.le_device_type %></td>
        <td><%= customer.re_device_type %></td>
        <td><%= link_to I18n.t('helpers.links.details'), customer_path(customer) %></td>
        <td><%= link_to I18n.t('helpers.links.edit'), edit_customer_path(customer) %></td>
        <td><%= link_to I18n.t('helpers.links.destroy'), customer_path(customer), method: :delete,
          data: { confirm: I18n.t('helpers.links.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class='pull-right'>
  <%= will_paginate @customers, renderer: BootstrapPagination::Rails %>
</div>
