<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Le lost type:</strong>
  <%= @customer.le_lost_type %>
</p>

<p>
  <strong>Re lost type:</strong>
  <%= @customer.re_lost_type %>
</p>

<p>
  <strong>Le device type:</strong>
  <%= @customer.le_device_type %>
</p>

<p>
  <strong>Re device type:</strong>
  <%= @customer.re_device_type %>
</p>

<% if @customer.person? %>
  <p>
    <strong>Cpf:</strong>
    <%= @customer.cpf %>
  </p>
  <p>
    <strong>Rg:</strong>
    <%= @customer.rg %>
  </p>
  <p>
    <strong>Date of birth:</strong>
    <%= to_date(@customer.dob) %>
  </p>
  <p>
    <strong>Celphone:</strong>
    <%= @customer.cellphone %>
  </p>
<% end %>

<% if @customer.company? %>
  <p>
    <strong>Cnpj:</strong>
    <%= @customer.cnpj %>
  </p>
  <p>
    <strong>State Registration:</strong>
    <%= @customer.state_registration %>
  </p>
<% end %>

<% if @customer.address.present? %>
  <p>
    <strong>Street:</strong>
    <%= @customer.address.street %>
  </p>
  <p>
    <strong>Number:</strong>
    <%= @customer.address.number %>
  </p>
  <p>
    <strong>Cep:</strong>
    <%= @customer.address.zipcode %>
  </p>
  <p>
    <strong>Estado:</strong>
    <%= @customer.address.state %>
  </p>
  <p>
    <strong>Cidade:</strong>
    <%= @customer.address.city %>
  </p>
<% end %>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
