<h1 class='page-header'><%= t("labels.show_customer") + @customer.name %></h1>

<br/>

<div>
  <div class="right_column">
    <strong><%= t("activerecord.attributes.customer.re") %>:</strong>
    <%= @customer.re %>
  </div>
  <p>
    <strong><%= t("activerecord.attributes.customer.name") %>:</strong>
    <%= @customer.name %>
  </p>
  <p>
    <strong><%= t("activerecord.attributes.customer.email") %>:</strong>
    <%= @customer.email %>
  </p>
  <p>
    <strong><%= t("activerecord.attributes.customer.phone") %>:</strong>
    <%= complete_phone(@customer) %>
  </p>

  <%= render 'person_info' %>
  <%= render 'company_info' %>

  <p>
    <strong><%= t("activerecord.attributes.customer.audiometry") %>:</strong>
    <% if @customer.audiometry? %>
      <%= link_to_thumb_or_path(@customer.audiometry, @customer.audiometry_url) %>
    <% else %>
      -
    <% end %>
  </p>

  <hr/>
  <strong><%= t("activerecord.models.address") %>:</strong>
  <% if @customer.address && @customer.address.city %>
    <address>
      <%= @customer.address.street %>, <%= @customer.address.number %> <%= @customer.address.complement %><br>
      <%= @customer.address.city %>, <%= @customer.address.state %> <%= @customer.address.zipcode %><br>
    </address>
  <% else %>
    -
  <% end %>

  <br/>
  <div class='well-sm' id='buttons'>
    <%= link_to t("helpers.links.edit"), edit_customer_path(@customer), class: 'btn btn-primary', role: "button" %>
    <%= link_to t("helpers.links.back"), customers_path, class: 'btn btn-default' %>
  </div>
  <hr>
  <h2>
    <%= t('activerecord.models.device').pluralize %>
    <%= link_to I18n.t('helpers.links.new'), new_device_path(device: {customer_id: @customer.id}), class: 'btn btn-default not-visited', role: "button" %>
  </h2>

  <% if not @customer.devices.blank? %>
    <%= render 'devices' %>
  <% end %>
</div>
