<h1><%= t("labels.show_customer") + @customer.name %></h1>

<br/>
<div class='well'>
  <div class="right_column">
    <strong><%= t("activerecord.attributes.customer.re") %>:</strong>
    <%= @customer.re %>
  </div>
  <p>
    <strong><%= t("activerecord.attributes.customer.name") %>:</strong>
    <%= @customer.name %>
  </p>
  <p>
    <strong><%= t("activerecord.attributes.customer.email") %>:</strong>
    <%= @customer.email %>
  </p>
  <p>
    <strong><%= t("activerecord.attributes.customer.phone") %>:</strong>
    <%= complete_phone(@customer) %>
  </p>

  <% if @customer.person? %>
    <div class="right_column">
      <strong><%= t("activerecord.attributes.customer.rg") %>:</strong>
      <%= @customer.rg %>
    </div>
    <p>
      <strong><%= t("activerecord.attributes.customer.cpf") %>:</strong>
      <%= @customer.cpf %>
    </p>
    <p>
      <strong><%= t("activerecord.attributes.customer.dob") %>:</strong>
      <%= to_date(@customer.dob) %>
    </p>
    <p>
      <strong><%= t("activerecord.attributes.customer.career") %>:</strong>
      <%= @customer.career %>
    </p>
    <p>
      <strong><%= t("activerecord.attributes.customer.cellphone") %>:</strong>
      <%= complete_cellphone(@customer) %>
    </p>
  <% end %>

  <% if @customer.company? %>
    <p>
      <strong>Cnpj:</strong>
      <%= @customer.cnpj %>
    </p>
    <p>
      <strong>State Registration:</strong>
      <%= @customer.state_registration %>
    </p>
  <% end %>

  <hr/>

  <% if @customer.address && @customer.address.city %>
    <strong><%= t("activerecord.models.address") %>:</strong>
    <address>
      <%= @customer.address.street %>, <%= @customer.address.number %><br>
      <%= @customer.address.city %>, <%= @customer.address.state %> <%= @customer.address.zipcode %><br>
    </address>
    <hr/>
  <% end %>

  <div class="right_column">
    <strong><%= t("activerecord.attributes.customer.re_lost_type") %>:</strong>
    <%= @customer.re_lost_type %>
  </div>
  <p>
    <strong><%= t("activerecord.attributes.customer.le_lost_type") %>:</strong>
    <%= @customer.le_lost_type %>
  </p>
  <div class="right_column">
    <strong><%= t("activerecord.attributes.customer.re_device_type") %>:</strong>
    <%= @customer.re_device_type %>
  </div>
  <p>
    <strong><%= t("activerecord.attributes.customer.le_device_type") %>:</strong>
    <%= @customer.le_device_type %>
  </p>
  <div class="right_column">
    <strong><%= t("activerecord.attributes.customer.model") %>:</strong>
    <%= @customer.model %>
  </div>
  <p>
    <strong><%= t("activerecord.attributes.customer.brand") %>:</strong>
    <%= @customer.brand %>
  </p>
  <p>
    <strong><%= t("activerecord.attributes.customer.battery") %>:</strong>
    <%= @customer.battery %>
  </p>
  <p>
    <strong><%= t("activerecord.attributes.customer.serial_number") %>:</strong>
    <%= @customer.serial_number %>
  </p>
  <p>
    <strong><%= t("activerecord.attributes.customer.value") %>:</strong>
    <%= @customer.value %>
  </p>
  <p>
    <strong><%= t("activerecord.attributes.customer.warantee") %>:</strong>
    <%= @customer.warantee %>
  </p>
</div>
<br/>
<div class='well-sm' id='buttons'>
  <%= link_to t("helpers.links.edit"), edit_customer_path(@customer), class: 'btn btn-primary', role: "button" %>
  <%= link_to t("helpers.links.back"), customers_path, class: 'btn btn-default' %>
</div>
